<div style="padding: 16px; display: flex; flex-direction: column; align-items: flex-start;">
  <h3>Create a room</h3>
  <mat-form-field appearance="outline" color="accent" class="example-full-width">
    <mat-label>Room Name</mat-label>
    <input matInput [(ngModel)]="roomTitle" (keydown.enter)="createRoom()">
  </mat-form-field>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Card Options</mat-label>
    <mat-select [(ngModel)]="cardOptions">
      <mat-option *ngFor="let options of possibleCardOptions" [value]="options">
        {{options}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" color="accent" class="example-full-width">
    <mat-label>Room Passcode</mat-label>
    <input matInput [type]="showPasscode ? 'text' : 'password'" [(ngModel)]="roomPasscode">
    <button matSuffix mat-icon-button (click)="showPasscode = !showPasscode">
      <mat-icon>{{ showPasscode ? "visibility" : "visibility_off" }}</mat-icon>
    </button>
  </mat-form-field>
  <button style="margin-right: 8px" [disabled]="creatingRoom" mat-raised-button matSuffix color="primary" (click)="createRoom()">
    {{creatingRoom ? 'Creating...' : 'Create'}}
  </button>
  <fieldset style="margin-top: 16px; display: inline-block; border-radius: 6px; border: 1px solid #525252;">
    <legend style="color: #525252">
      <small>Sponsor (Affiliate Link)</small>
    </legend>
    <a href="https://amzn.to/3QqBrfE" target="_blank">
      <img style="width: 256px; border: none;" src="assets/71FWKtSIYUL._AC_SL1500_.jpg">
    </a>
  </fieldset>
</div>

