.section {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px 0;
}

.room-container {
  height: 100%;
  width: 100%;
}

.room-content {
  padding: 16px 16px 96px;
}

.custom-field
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  min-height: 40px !important;
}

.user-container {
  padding: 0 8px;
  border-radius: 12px;
  background: rgba(33,33,33,.25);
}

.current-user-container {
  background: rgba(105, 240, 174, 0.09);
}

.user-container > * {
  margin-top: 20px;
}

.current-user {
  border: 1px solid #69f0ae;
}

.other-user {
  border: 1px solid grey;
}

.quote {
  opacity: 0;
  animation: 800ms ease-in fade-in 400ms forwards;
  max-width: 760px;
}

.initial-hide {
  opacity: 0;
  animation: 200ms fade-in 800ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.bounce {
  animation: bounce 800ms forwards 600ms;
}

@keyframes bounce {
  from, 50%, to {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-10px);
  }
}

.rotateAndScale {
  transform: scale(0);
  animation: rotateAndScale 800ms forwards 800ms;
}

@keyframes rotateAndScale {
  from {
    transform: rotate(360deg) scale(0)
  }
  75% {
    transform: rotate(-10deg) scale(1.2)
  }
  90% {
    transform: rotate(10deg) scale(0.8)
  }
  to {
    transform: rotate(0deg) scale(1)
  }
}
