<div class="room" *ngIf="enteredRoomPasscode">
    <div>
        <button mat-button [routerLink]="['/']">Back</button>
      <div style="display: flex; align-items: center; gap: 8px; padding: 4px 0;">
          <button mat-icon-button (click)="copyToClipboard()">
            <mat-icon fontIcon="share"></mat-icon>
          </button>
          <span style="font-weight: bold;">Room:</span>
          <span>{{room.name}}</span>
        </div>
        <mat-form-field style="width: 100%" color="accent" appearance="outline" class="example-full-width">
          <mat-label>Issue</mat-label>
          <input matInput [(ngModel)]="issue" [readonly]="currentUser.uid != room.owner_uid" (keydown.enter)="updateIssue(issue)" (blur)="updateIssue(issue)">
          <button style="margin-right: 8px;" [matTooltip]="getLastPartOfUrlPath(issue)" *ngIf="issue" (click)="open(issue)" mat-button matSuffix>
            <mat-icon>open_in_new</mat-icon>&nbsp;Open Issue
          </button>
        </mat-form-field>

        <div style="padding-top: 8px; display: flex; gap: 8px; align-items: center;">
          <button mat-stroked-button [disabled]="currentUser.uid != room.owner_uid" color="accent" (click)="toggleShowCards(room)">{{room.show_cards ? 'Hide' : 'Show'}} Votes</button>
          <button mat-stroked-button [disabled]="currentUser.uid != room.owner_uid" color="warn" (click)="clearVotes(room)">Clear All Votes</button>
          <div *ngIf="room.show_cards; else questionMarks">
            <span>Average: {{average}} ({{average | number:'1.0-0'}})</span>
          </div>
          <ng-template #questionMarks>
            ???
          </ng-template>
          <div>&middot;</div>
          <div>Agreement: {{room.show_cards ? agreement + '%' + (agreement < 45 ? " 💩 " : "") : '???'}} </div>
        </div>
        <div>
          <div class="section">
              <button mat-raised-button color="warn" (click)="vote(room.id, null)">
                Clear My Vote
              </button>
              <button mat-raised-button (click)="vote(room.id, '🤷')">
                <span style="font-size: 16px;">🤷</span>
              </button>
              <button mat-raised-button *ngFor="let card of cardOptions" (click)="vote(room.id, card)">
                <span style="font-size: 16px;">{{card}}</span>
              </button>&nbsp;
          </div>
        </div>
      </div>

      <div style="padding: 8px; display: flex; flex-wrap: wrap; gap: 8px;">
        <div *ngFor="let user of users; trackBy: identify" style="display: flex; align-items: center; padding-right: 12px;" class="user-container"  [class]="user.id === currentUser.uid ? 'current-user-container' : ''">
          <img [matMenuTriggerFor]="room.owner_uid == currentUser.uid && user.id != currentUser.uid ? userMenu : null" [class]="currentUser.uid == user.id ? 'current-user' : 'other-user'" style="cursor: pointer; border-radius: 99px; width: 42px; height: 42px; margin-right: 8px; transform: translateY(-10px); margin-left: 8px;" alt="user image" matPrefix [src]="user.photoURL"/>
          <mat-menu #userMenu="matMenu">
            <button (click)="makeOwner(user.id)" mat-menu-item>⭐ Make {{user.name}} Room Owner</button>
            <button (click)="kick(user.id)" mat-menu-item>🥾 Kick {{user.name}}</button>
          </mat-menu>
          <mat-form-field color="accent" appearance="outline" class="example-full-width custom-field">
              <mat-label>Name <span *ngIf="currentUser.uid == user.id">(You)</span></mat-label>
              <input matInput style="height: 24px;" [readonly]="currentUser.uid !== user.id" [(ngModel)]="user.name" (keydown.enter)="updateUser(user)" (blur)="updateUser(user)">
              <mat-icon matSuffix *ngIf="!user.locked && user.id == room.owner_uid" color="accent">star</mat-icon>
              <mat-icon matSuffix *ngIf="user.locked" color="warn">lock</mat-icon>
              <mat-icon matSuffix *ngIf="!user.locked && user.id != room.owner_uid"></mat-icon>
          </mat-form-field>
          <div style="display: flex; flex-direction: column; align-items: center;">
            <button mat-stroked-button style="margin-left: 8px; transform: translateY(-10px); color: #fff; height: 56px;"
                    [matBadge]="user.vote ? '🗳️' : undefined"
                    matBadgeColor="accent"
                    [color]="user.vote ? 'primary' : undefined"
                    mat-raised-button>
              <span *ngIf="!room.show_cards && currentUser.uid !== user.id">
                <mat-icon fontIcon="question_mark"></mat-icon>
              </span>
              <span *ngIf="room.show_cards || currentUser.uid === user.id" style="font-size: 16px;">
                {{user.vote}}
              </span>
            </button>
          </div>
          </div>
      </div>
</div>
