<mat-toolbar color="primary" style="justify-content: space-between;">
    <div style="display: flex; align-items: center; gap: 4px;">
        <mat-icon fontIcon="looks_4"></mat-icon>
        <span style="font-weight: bold; font-size: 22px;">Pointing</span>
    </div>
    <div>
        <button mat-icon-button (click)="leaveFeedback()">
            <mat-icon fontIcon="chat"></mat-icon>
        </button>
        <button mat-icon-button (click)="copyToClipboard()">
            <mat-icon fontIcon="share"></mat-icon>
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
