<div *ngIf="theme">
  <mat-toolbar color="primary" style="justify-content: space-between;" [ngStyle]="theme">
    <div style="display: flex; align-items: center; gap: 4px;">
      <img alt="logo" style="height: 32px;" src="assets/Playing-Cards.svg">
      <span style="font-weight: bold; font-size: 22px;">{{title}}</span>
    </div>
    <div style="display: flex; align-items: center; gap: 4px;">
        <button mat-icon-button (click)="leaveFeedback()">
            <mat-icon fontIcon="chat"></mat-icon>
        </button>
        <button mat-icon-button (click)="copyToClipboard()">
            <mat-icon fontIcon="share"></mat-icon>
        </button>
        <button mat-button *ngIf="userHasLoaded && currentUser" (click)="logout()">
          Sign Out
        </button>
    </div>
</mat-toolbar>

<div *ngIf="userHasLoaded; else loadingUser">
  <div *ngIf="currentUser; else loginOptions">
    <router-outlet></router-outlet>
  </div>
</div>
</div>

<ng-template #loadingUser>
  <div style="height: calc(100vh - 64px); display: flex; align-items: center; justify-content: center;">
    Loading user...
  </div>
</ng-template>

<ng-template #loginOptions>
  <div style="height: calc(100vh - 64px); display: flex; align-items: center; justify-content: center;">
    <div style="width: 200px; display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
      <button mat-stroked-button (click)="loginAnonymously()">
        <mat-icon fontIcon="person"></mat-icon> Continue Anonymously
      </button>
      <button mat-stroked-button (click)="loginWithGoogle()">
        <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
          <img src="assets/Google__G__Logo.svg" style="height: 16px" />
          Continue with Google
        </div>

      </button>
    </div>
  </div>

</ng-template>

